<section class="ranking-wrapper">
  <div class="stars"></div>
  <div class="twinkling"></div>

  <div class="trophy left">🏆</div>
  <div class="trophy right">🏆</div>

  <div class="ranking-card">
    <h2 class="ranking-title text-center">🏆 Ranking Galáctico</h2>

    @if (speciesRanking().length === 0) {
      <div class="no-data">
        <p>🚫 No hay especies registradas en el ranking.</p>
      </div>
    } @else {
      <div class="table-container fade-in">
        <table class="ranking-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Nivel de poder</th>
            <th>Habilidad especial</th>
            <th>#Victorias</th>
          </tr>
          </thead>

          <tbody>
            @for (species of speciesRanking(); track species.id; let i = $index) {
              <tr>
                <td class="rank-cell">
                  @if (getMedal(i)) {
                    <span class="medal">{{ getMedal(i) }}</span>
                  } @else {
                    <span class="rank-number">{{ i + 1 }}</span>
                  }
                </td>
                <td>{{ species.name }}</td>
                <td>{{ species.powerLevel }}</td>
                <td>{{ species.specialSkill }}</td>
                <td>{{ species.victories }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</section>
